# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

db.sqlite3

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode

# Virtualenv environment
venv
env

.gitignore